<%- include('common/header') %>
    <!-- Main Content -->
    <div class="main-content" id="mainContent">
        <div class="container-fluid">
           
        </div>
    </div>

    <%- include('common/footer') %>